.main-nav {
    background-color: #0e5135;
}
.nav-paragraph {
    padding-left: 5%;
    width: 75%;
    display: inline-block;
    color:#4aba91;
}
.nav-link {
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    color:#d4ce46;
}

.nav-navbar {
    text-decoration: none;
    display: inline-block;
}